[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
[submodule "Cognitive-detector-bias"]
	path = Cognitive-detector-bias
	url = https://github.com/houndlord/Cognitive-detector-bias
