{{ define "main" }}
{{ .Scratch.Set "scope" "single" }}

<article>
    {{ if .Params.showHero | default (.Site.Params.article.showHero | default false) }}
    {{ $heroStyle := .Params.heroStyle }}
    {{ if not $heroStyle }}{{ $heroStyle = .Site.Params.article.heroStyle }}{{ end }}
    {{ $heroStyle := print "hero/" $heroStyle ".html" }}
    {{ if templates.Exists ( printf "partials/%s" $heroStyle ) }}
    {{ partial $heroStyle . }}
    {{ else }}
    {{ partial "hero/basic.html" . }}
    {{ end }}
    {{ end }}



    <section class="flex flex-col max-w-full mt-0 lg:flex-row">

        {{ if or (and (.Params.showTableOfContents | default (.Site.Params.article.showTableOfContents | default false))
        (in
        .TableOfContents "<ul")) (.Site.Params.article.showRelatedPosts | default false) }} <div
            class="order-first lg:ml-auto px-0 lg:order-last ltr:lg:pl-8 rtl:lg:pr-8">
            <div class="toc ltr:pl-5 rtl:pr-5 print:hidden lg:sticky {{ if hasPrefix .Site.Params.header.layout " fixed"
                -}} lg:top-[140px]{{ else }}lg:top-10{{ end }}">

                {{ if and (.Params.showTableOfContents | default (.Site.Params.article.showTableOfContents | default
                false)) (in
                .TableOfContents "<ul") }} {{ partial "toc.html" . }} {{ end }} {{ if
                    .Site.Params.article.showRelatedPosts | default false }} sd {{ end }} </div>
            </div>
            {{ end }}

            <div class="min-w-0 min-h-0 w-full">

                <div class="article-content w-full mb-20 px-5">
                    {{ .Content }}
                </div>

                {{ partial "sharing-links.html" . }}
            </div>

            {{ $translations := .AllTranslations }}
            {{ with .File }}
            {{ $path := .Path }}
            {{range $translations}}
            {{ $lang := print "." .Lang ".md" }}
            {{ $path = replace $path $lang ".md" }}
            {{end}}
            <script>
                var oid = "views_{{ $path }}"
                var oid_likes = "likes_{{ $path }}"
            </script>
            {{ $jsPage := resources.Get "js/page.js" }}
            {{ $jsPage = $jsPage | resources.Minify | resources.Fingerprint "sha512" }}
            <script type="text/javascript" src="{{ $jsPage.RelPermalink }}"
                integrity="{{ $jsPage.Data.Integrity }}"></script>
            {{ end }}

    </section>
    <footer class="pt-8 w-full print:hidden">
    </footer>
</article>
{{ end }}